<h1>Your Dares</h1>

<ul>
  <% @dares.each do |dare| %>
    <li><%= dare.template %></li>
        <%# <%= button_to 'Delete', dare_path(dare), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> 
  <% end %>
</ul>
</ul>
  <%= button_to 'Add Dare', new_dare_path, method: :get, class: 'btn btn-primary' %>
  <%= button_to 'Go to Game', game_path(current_user.game), method: :get, class: 'btn btn-success' %>
