<h1>Dare Details</h1>

<p>
  <strong>Template:</strong>
  <%= @dare.template %>
</p>

<%= link_to 'Edit', edit_dare_path(@dare), class: 'btn btn-warning' %>
<%= link_to 'Back to Dares', dares_path, class: 'btn btn-secondary' %>
