<!DOCTYPE html>
<html>
<head>
  <title>Game Dare</title>
</head>
<body>
  <h1>Game Dare</h1>
  <p><%= @current_player.name %> - <%= @selected_dare %></p>
  <%= button_to "Next", next_player_game_path(@game), method: :post %>
  <%= button_to "Refresh", game_path(@game), method: :get %>
</body>
</html>
